<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="189.cn" class="com.yanhua.cloud.utils.ECloudUtils">
        <property name="appId" value="${189.cn.appId}"/>
        <property name="appSecret" value="${189.cn.appSecret}"/>
        <property name="redirectUri" value="${189.cn.redirectUri}"/>
    </bean>
</beans>